nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  position: sticky;

  padding: 0 1rem;
  height: 4rem;
  width: 100%;

  color: white;
  fill: white;
  background-color: var(--accent-blue);

  .logo {
    font-size: 1.2rem;
    font-weight: bold;
  }

  ul {
    display: flex;
    list-style: none;

    li {
      transition: background-color 100ms ease-out;
      border-radius: 0.5rem;
      &:hover {
        background-color: var(--black-transparent02);
      }
      a {
        padding: 0.5rem;
        text-decoration: none;
        color: inherit;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  .profile {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
}
